Brewfile.lock.json
.dotter/local.toml
.dotter/cache.toml
.dotter/cache
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.log
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.catalog
files/keypirinha/portable_folder/Profile/User/Keypirinha.history
*/.git

files/keypirinha/portable_folder/Profile/User/Keypirinha.history
*.tmp
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.log
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.catalog
