Brewfile.lock.json
.dotter/local.toml
.dotter/cache.toml
.dotter/cache
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.log
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.catalog
files/keypirinha/portable_folder/Profile/User/Keypirinha.history
*/.git

files/keypirinha/portable_folder/Profile/User/Keypirinha.history
*.tmp
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.log
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.catalog
files/keypirinha/portable_folder/Profile/User/Keypirinha.history
files/emacs/emacs.d/auto-save-list/.saves-23772-CARBUNCLE~
files/emacs/emacs.d/auto-save-list/.saves-12204-CARBUNCLE~
files/emacs/emacs.d/auto-save-list/.saves-21284-CARBUNCLE~
files/emacs/emacs.d/auto-save-list/.saves-21284-CARBUNCLE~
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.log
files/keypirinha/portable_folder/Profile/User/Keypirinha.history
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.catalog
files/emacs/emacs.d/auto-save-list/.saves-28580-Carbuncle~
files/keypirinha/portable_folder/Local/Keypirinha.the-grand-libra.log
*.log
files/emacs/emacs.d/eln-cache/*
files/emacs/magic.emacs.d/projectile-bookmarks.eld
files/emacs/magic.emacs.d/projectile-bookmarks.eld
